<div class="container">
    <h3>Работа</h3>

    <div class="row">
        <div class="card col-4 p-0">
            <div class="card-header">
                <h4 class="card-title">ИЧПУП “айМобайл”</h4>
            </div>
            <div class="card-block">
                <p class="card-text">Инженер-программист, IOS разработчик</p>
                <p class="card-text">Бобруйск, с 02. 2016 по текущее время</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Совместно работал над проектом на языке Swift под iPhone и iPad. В проекте использовались CocoaPods, Carthage, Fastlane и Realm база данных..
                </li>
                <li class="list-group-item">Отдельно работал над проектом под iPad на языке C# используя Xamarin(Visual Studio). В проекте использовался MVVMCross framework и Realm база данных.</li>
            </ul>
        </div>
        <div class="col-8">ь

            <div class="card">
                <div class="card-header">
                    Фриланс
                </div>
                <div class="card-block">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Работал над проектом на Angular и Node. В проекте разрабатывал backend и frontend для частных медицинских учреждений в Америке. В проекте использовались Gulp, база данных PostgreSQL, Sequelize, Express и др.
                        </li>
                        <li class="list-group-item">Разрабатывал приложение под Android для Тайм-клуба. Проект написан на языке Java.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
