body {color: black;background:#ffffff; margin: 0;padding: 0; font-family:Arial, Helvetica, san-serif; font-size: 12px;}

img {border:none;}
form {margin:0;padding:0;}
table {border:0px;}
table td {vertical-align: top;font-size: inherit;}

a:link,
a:visited {color: #000000; text-decoration: none;}
a:hover,
a:active {color: #364dda; text-decoration: none; }

.globaltable {border-color:#FFFFFF; border-width:thin;}

.menutd {background: url(../images/tyres_005.jpg) repeat-y}

.mainmenu {font-size:16px; list-style:none; margin-left:10px; padding-left:10px; margin-top:5px; padding-top:5px; font-weight:bold; }
.mainmenuin1 {font-size:14px; list-style:none; margin-left:10px; padding-left:10px}
.mainmenuin2 {font-size:12px; list-style:none; margin-left:10px; padding-left:10px}
.mainmenu li {padding-top: 2px; margin-top: 2px;}

.newsmenu {font-size:14px; list-style-image:url(../images/arrow1.jpg); margin-left:10px; padding-left:10px; margin-top:5px; padding-top:5px; font-weight:bold; }
.newsmenu li {margin-bottom: 25px;}
.newsmenu .date {font-weight:normal;}

.bottomline {font-weight:bold; color:#fff;}
.tabledarkline {background:#b3c2cb;}

.formf1 {background-color:#cdebff; border-style:solid;border-width:1px;}
.formf2 {background-color:#cdebff; border-style:none;border-width:0px;}

h4 {font-size: 16px;}