<div class="container">
    <h3>Главная информация</h3>

    <div class="row">
        <div class="card col-4 p-0">
            <img class="card-img-top" src="https://pp.userapi.com/c847120/v847120362/17b1c3/IEqneyL9pIo.jpg" alt="Ivanov"/>
            <div class="card-block">
                <h4 class="card-title">Иванов Кирилл Евеньевич</h4>
                <p class="card-text">2 ой пер. Багратиона, д. 17. кв. 221 Минск, 220037</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Телефон: +375(29) 319-43-00</li>
                <li class="list-group-item">Email: linyx.omg@gmail.com</li>
                <li class="list-group-item">Дата рождения: 05/04/1997</li>
                <li class="list-group-item">Семейное положение: не женат</li>
            </ul>
        </div>
        <div class="col-8">

            <div class="card">
                <div class="card-header">
                    ДОПОЛНИТЕЛЬНЫЕ НАВЫКИ
                </div>
                <div class="card-block">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Опытный пользователь ОС Windows, Mac OS.</li>
                        <li class="list-group-item">Работаю с программами Visual Studio, Xcode, Android Studio</li>
                        <li class="list-group-item">Водительское удостоверение категории B</li>
                        <li class="list-group-item">Английский язык - со словарем</li>
                        <li class="list-group-item">Имею опыт работы с Arduino Uno</li>
                        <li class="list-group-item">Имею опыт в восстановлении работоспособности телефонов на системе
                            Android
                            (перепрошивать)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    ЛИЧНЫЕ КАЧЕСТВА
                </div>
                <div class="card-block">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Собранный</li>
                        <li class="list-group-item">Ответственный</li>
                        <li class="list-group-item">Легко обучаемый</li>
                        <li class="list-group-item">Пунктуальный</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
