<div class="container">
    <h3>Education</h3>

    <div class="row">
        <div class="col-6">
        <div class="card">
            <img class="card-img-top" src="http://budny.by/Portals/0/EasyDNNnews/3557/3557p3280046111.jpg" alt="Ivanov"/>
            <div class="card-block">
                <h4 class="card-title">Бобруйский государственный аграрно-экономический колледж</h4>
                <p class="card-text">Среднее специальное</p>
                <p class="card-text">Специальность “Программное обеспечение информационных технологий”.</p>
            </div>

        </div>
        </div>
        <div class="col-6">
        <div class="card">
            <img class="card-img-top" src="https://adukar.by/images/photo/fasad-bsuir-2.jpg" alt="Ivanov"/>
            <div class="card-block">
                <h4 class="card-title">Белорусский государственный университет информатики и радиоэлектроники
                </h4>
                <p class="card-text">Высшее</p>
                <p class="card-text">Специальность “Программное обеспечение информационных технологий”
                    3 курс, заочное (сокращенное).
                </p>
            </div>
        </div>
        </div>
    </div>
</div>
