<h4>
    Astronomy is a <span ngbTooltip="The natural sciences seek to understand how the world and universe around us works. There are five major branches (top left to bottom right): Chemistry, astronomy, earth science, physics, and biology.
Natural science is a branch of science concerned with the description, prediction, and understanding of natural phenomena, based on empirical evidence from observation and experimentation. Mechanisms such as peer review and repeatability of findings are used to try to ensure the validity of scientific advances.">natural science</span>
    that studies celestial objects and phenomena. It applies
    <span
            ngbTooltip="Mathematics includes the study of such topics as quantity, structure, space, and change.">mathematics</span>,
    <span
            ngbTooltip="Physics is the natural science that studies matter and its motion and behavior through space and time and that studies the related entities of energy and force. Physics is one of the most fundamental scientific disciplines, and its main goal is to understand how the universe behaves.">physics</span>,
    and <span
        ngbTooltip="Chemistry is the scientific discipline involved with elements and compounds composed of atoms, molecules and ions: their composition, structure, properties, behavior and the changes they undergo during a reaction with other substances. ">chemistry</span>
    in an effort to explain the origin of those objects and phenomena and their
    evolution. Objects of interest include planets, moons, stars, nebulae, galaxies, and comets; the phenomena also
    includes supernova explosions, gamma ray bursts, quasars, blazars, pulsars, and cosmic microwave background
    radiation.
    More generally, all phenomena that originate outside Earth's atmosphere are within the purview of astronomy. A
    related
    but distinct subject is <span
        ngbTooltip="Physical cosmology is a branch of cosmology concerned with the studies of the largest-scale structures and dynamics of the Universe and with fundamental questions about its origin, structure, evolution, and ultimate fate. "> physical cosmology</span>,
    which is the study of the Universe as a whole.
</h4>

<h4>
    Astronomy is one of the oldest of the natural sciences. The early civilizations in recorded history, such as the
    Babylonians, Greeks, Indians, Egyptians, Nubians, Iranians, Chinese, Maya, and many ancient indigenous peoples of
    the
    Americas, performed methodical observations of the night sky. Historically, astronomy has included disciplines as
    diverse as astrometry, celestial navigation, observational astronomy, and the making of calendars, but professional
    astronomy is now often considered to be synonymous with astrophysics.
</h4>
<h4>
    Professional astronomy is split into observational and theoretical branches. Observational astronomy is focused on
    acquiring data from observations of astronomical objects, which is then analyzed using basic principles of physics.
    Theoretical astronomy is oriented toward the development of computer or analytical models to describe astronomical
    objects and phenomena. The two fields complement each other, with theoretical astronomy seeking to explain
    observational results and observations being used to confirm theoretical results.
</h4>
<h4>
    Professional astronomy is split into observational and theoretical branches. Observational astronomy is focused on
    acquiring data from observations of astronomical objects, which is then analyzed using basic principles of physics.
    Theoretical astronomy is oriented toward the development of computer or analytical models to describe astronomical
    objects and phenomena. The two fields complement each other, with theoretical astronomy seeking to explain
    observational results and observations being used to confirm theoretical results.
</h4>
<h4>
    Professional astronomy is split into observational and theoretical branches. Observational astronomy is focused on
    acquiring data from observations of astronomical objects, which is then analyzed using basic principles of physics.
    Theoretical astronomy is oriented toward the development of computer or analytical models to describe astronomical
    objects and phenomena. The two fields complement each other, with theoretical astronomy seeking to explain
    observational results and observations being used to confirm theoretical results.
</h4>
<h4>
    Professional astronomy is split into observational and theoretical branches. Observational astronomy is focused on
    acquiring data from observations of astronomical objects, which is then analyzed using basic principles of physics.
    Theoretical astronomy is oriented toward the development of computer or analytical models to describe astronomical
    objects and phenomena. The two fields complement each other, with theoretical astronomy seeking to explain
    observational results and observations being used to confirm theoretical results.
</h4>
<h4>
    Astronomy is one of the few sciences in which amateurs still play an active role, especially in the discovery and
    observation of transient events. Amateur astronomers have made and contributed to many important astronomical
    discoveries, such as finding new comets.
</h4>


<h3>Observational astronomy</h3>

<div class="panel" *ngFor="let item of observational">
    <button type="button" class="btn btn-outline-primary" (click)="item.isCollapsed = !item.isCollapsed"
            [attr.aria-expanded]="!item.isCollapsed" aria-controls={item.id}>
        {{item.title}}
    </button>
    <div [ngbCollapse]="item.isCollapsed" id={item.id}>
        <div class="card">
            <div class="card-body">
                {{item.content}}
            </div>
        </div>
    </div>
</div>
