
:host {
  padding: 15px 5% 5%;
  display: block;
  h4 {
    color: black;
    text-align: justify;
    font-size: 18px;
    font-weight: 100;
    & > span {
      color: #28a98b;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .panel {
    & > button {
      background: none;
      color: black;
      outline: none;
      cursor: pointer;
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
      border: 2px solid #29a98b;
    }
    & > .show {
      margin-bottom: 10px;
    }
  }


}
